{
  "log": {
    "loglevel": "info"
  },
  "inbounds": [
    {
      "port": 80,  // <-- Port 80 သို့ ပြောင်းလိုက်ပါ
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "${USER_ID}",
            "level": 0
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "${VLESS_PATH}",
          "headers": {
            "Host": "${HOST_DOMAIN}"
          }
        }
      },
      "listen": "0.0.0.0" 
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "settings": {}
    },
    {
      "protocol": "blackhole",
      "settings": {},
      "tag": "blocked"
    }
  ]
}
